body{
  width: 100%;
  height: 100%;
  
font-family: Tahoma;
  font-size: 20px; 
  color: #fdf6f2;
  background: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("burning-man.png")
}

h1 {
  margin: 0 auto; 
  text-align: center;
  letter-spacing: 0.5em;
  color: #fa8536; 
}


p {
  margin: 0.3em auto; 
  text-align: center;
  font-style: italic;
  color: #FFB256;
  
}

.p-label {
  text-align: left;
  font-style: normal;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

form {
  width: 50vw;
  max-width: 800px;
  min-width: 400px;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
  
}

fieldset{
  width: 40vw;
  margin: 0 auto;
  /*border: none;*/
  border-color: #FFB256; 
  background-color: rgba(11, 13, 14, 0.63);
  padding: 0em 3em 0em 3em;
}


legend {
  margin: 1em auto;
  color: #FFB256;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
  
  
}

label {
  display: block;
  color: #FFB256;
  margin: 1em auto 0.1em auto;

}

  

.label_radio_margin_top {
  margin: 0.3em 0em 0em 0em;
}

.label_checkbox_margin_top {
  margin: 0.3em 0em 0em 0em;
}


.input-control {
  display: block;
  width: 100%;
  height: 2em;
  font-weight: 800;
  background-color: #18171667;
  color: #fdf6f2;
  padding: 0.3em;
  margin-top: 0.3em;
  border-color: #FFB256;
  outline: none;
  
}

input:focus {
  border-color:#fc6d0e;
}



select {
  width: 20em;
  height: 3em;
  color: #fdf6f2;
  font-weight: 800;
  background-color: #18171667;
  padding: 0.2em;
  margin-bottom: 1em;
  border-color: #FFB256;
}

  select:focus {
    border-color:#fc6d0e;
  
  }

option {
  background-color: #ffb3563f;
  color: #ffb3563f;
}

::placeholder {
  color: #fcf9f7;
  opacity: 30%;
}

.textarea-control {
  display: block;
  width: 100%;
  height: 10em;
  font-weight: 800;
  font-size: 0.9em;
  background-color: #18171667;
  color: #fdf6f2;
  padding: 0.3em;
  margin-top: 0.5em;
  border-color: #FFB256;
  outline: none;
}

textarea:focus {
  border-color:#fc6d0e;
}

.submit-button {
  display: block;
  width: 100%;
  background-color: #1817168f;
  border-color: #FFB256;
  color: #FFB256;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 0em;
  margin: 1em auto;
  cursor: pointer;
  transition-duration: 0.35s;
  
}

.submit-button:hover {
  background-color: #0a0908a9;
  border-color:#fc6d0e;
  
}